.toolbar {
    display: flex;
}
.breadcrumbs__container {
    flex: 1;
}

.breadcrumbs {
    padding: 2px 0;
    margin: 0;
}

.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs li::after {
    content: ">";
    margin-left: 5px;
}

.breadcrumbs li:last-child::after {
    content: "";
    margin-left: 0;
}

.prefixscan__container {
    width: 216px;
}

#ePrefix {
    height: 24px;
    box-sizing: border-box;
}

.log {
    height: 400px;
    width: 100%;
    background: #f3f3f3;
    overflow: scroll;
    text-align: left
}

.noresults {
    text-align: center;
}